[Unit]
Description=Assess new transcripts and refresh Robotcast Pages

[Timer]
OnUnitInactiveSec=1w
RandomizedDelaySec=2h
Persistent=true
Unit=robotcast-main@publish.service

[Install]
WantedBy=timers.target
