[Unit]
Description=Run Robotcast transcription queue on physical GPU %i

[Timer]
OnBootSec=2min
OnUnitInactiveSec=10min
Persistent=true
Unit=robotcast-transcribe@%i.service

[Install]
WantedBy=timers.target
